@mixin xm-bar($direction:top,$color:#FFF) {
  display: flex;
  position: fixed;
  z-index: 500;
  width: 100%;
  background-color: $color;
  @if ($direction == bottom) {
    bottom: 0;
    @include set-line(top, $c-line-dark);
  }
  @if ($direction == top) {
    top: 0;
    @include set-line(bottom, $c-line-dark);
  }
}

@import "footbar";
@import "tabbar";
@import "navbar";
@import "btnbar";