//theme
.c-theme-dark {
  background: $c-theme-dark;
}

.c-theme {
  background: $c-theme;
}

.c-theme-light {
  background: $c-theme-light;
}

.c-theme-lightest {
  background: $c-theme-lightest;
}

.c-theme-yellow {
  background: $c-theme-yellow;
}

.c-theme-grey {
  background: $c-theme-grey;
}

.c-theme-link {
  background: $c-theme-link;
}

.c-theme-font {
  background: $c-theme-font;
}

.c-theme-bg-light {
  background: $c-theme-bg-light;
}

.c-theme-bg {
  background: $c-theme-bg;
}

.c-theme-line {
  background: $c-theme-line;
}

.c-red {
  background: $c-red;
}

.c-yellow {
  background: $c-yellow;
}

.c-green {
  background: $c-green;
}

.c-blue {
  background: $c-blue;
}

.c-purple {
  background: $c-purple;
}

//linear

.c-linear {
  background: $c-linear;
}

//font
.c-font-dark {
  background: $c-font-dark;
}

.c-font-normal {
  background: $c-font-normal;
}

.c-font-light {
  background: $c-font-light;
}

.c-font-lightest {
  background: $c-font-lightest;
}

.c-font-white {
  background: $c-font-white;
}

//grey
.c-grey-dark {
  background: $c-grey-dark;
}

.c-grey-normal {
  background: $c-grey-normal;
}

.c-grey-light {
  background: $c-grey-light;
}

.c-grey-lightest {
  background: $c-grey-lightest;
}

//line
.c-line-dark {
  background: $c-line-dark;
}

.c-line-normal {
  background: $c-line-normal;
}

.c-line-light {
  background: $c-line-light;
}

.c-line-white {
  background: $c-line-white;
}


