<footer class="bd-footer text-muted">
  <div class="container">
    <ul class="bd-footer-links">
      <li><a href="//map.canisminor.cc">Map</a></li>
      <li><a href="//coding.net/u/canisminor1990/p/cmc-client/git">Coding</a></li>
      <li><a href="https://coding.net/u/canisminor1990/p/CanisminorCraft/git">ResPack</a></li>
    </ul>
    <p>Copyright ©️ 2016 <a href="canisminor1990@gmail.com">Canis Minor</a> 京ICP备16055942号-1</p>
</div>
</footer>

<script src="//cdn.bootcss.com/tether/1.3.4/js/tether.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/4.0.0-alpha.3/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/js/main.js"></script>

