<footer class="bd-footer text-muted">
  <div class="container">
    <ul class="bd-footer-links">
      <li><a href="//map.canisminor.cc">Map</a></li>
      <li><a href="//hook.canisminor.cc">Webhook</a></li>
    </ul>
    <p>Support by <a href="canisminor1990@gmail.com">@Canisminor</a> - CMC</p>
</div>
</footer>

<script src="//cdn.bootcss.com/tether/1.3.4/js/tether.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/4.0.0-alpha.3/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/js/main.js"></script>

