<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="theme-color" content="#B44E28">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=375,maximum-scale=1.3,user-scalable=no">
<link rel="apple-touch-icon-precomposed" href="{{ site.baseurl }}/img/logo.png">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="blank">
<meta name="App-Config" content="fullscreen=yes,useHistoryState=yes,transition=yes">
<meta name="author" content="Canis Minor">
<link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon">
<title>
  {% if page.layout == "home" %}
    {{ page.title }}
  {% else %}
    {{ page.title }} &middot; CMC
  {% endif %}
</title>
<!-- Bootstrap core CSS -->
<link href="{{ site.baseurl }}/css/main.css" rel="stylesheet">
<script src="//cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>

