<header class="navbar navbar-light navbar-static-top bd-navbar">
  <div class="container">
    <nav>
      <div class="clearfix">
        <button class="navbar-toggler pull-xs-right hidden-sm-up iconfont-extend icon-sort" type="button"
                data-toggle="collapse"
                data-target="#bd-main-nav" aria-controls="bd-main-nav" aria-expanded="false"
                aria-label="Toggle navigation">
        </button>
        <a class="navbar-brand hidden-md-up" href="{{ site.baseurl }}/">
          CMC
        </a>
      </div>
      <div class="collapse navbar-toggleable-xs" id="bd-main-nav">
        <a class="site-logo hidden-sm-down" href="{{ site.baseurl }}/"></a>
        <ul class="nav navbar-nav">
          <li class="nav-item active">
            <a class="nav-item nav-link {% if page.layout == "home" %}active{% endif %}"
               href="{{ site.baseurl }}/">首页</a>
          </li>

          <li class="nav-item">
            <a class="nav-item nav-link {% if page.title == "Map" %}active{% endif %}{% if page.layout == "library-page" %}active{% endif %}"
               href="{{ site.baseurl }}/pages/map.html">地图</a>
          </li>

        </ul>
      </div>
    </nav>
  </div>
</header>
