<header class="navbar navbar-light navbar-static-top bd-navbar">
  <div class="container">
    <nav>
      <div class="clearfix">
        <button class="navbar-toggler pull-xs-right hidden-sm-up iconfont-extend icon-sort" type="button" data-toggle="collapse"
                data-target="#bd-main-nav" aria-controls="bd-main-nav" aria-expanded="false"
                aria-label="Toggle navigation">
        </button>
        <a class="navbar-brand hidden-md-up" href="{{ site.baseurl }}/">
          XMUED
        </a>
      </div>
      <div class="collapse navbar-toggleable-xs" id="bd-main-nav">
        <a class="site-logo hidden-sm-down" href="{{ site.baseurl }}/"></a>
        <ul class="nav navbar-nav">
          <li class="nav-item active">
            <a class="nav-item nav-link {% if page.layout == "home" %}active{% endif %}"
               href="{{ site.baseurl }}/">首页</a>
          </li>

              {% assign library =  site.data.library | first %}

              <li class="nav-item">
                <a class="nav-item nav-link {% if page.layout == "library" %}active{% endif %}{% if page.layout == "library-page" %}active{% endif %}"
                   href="{{ site.baseurl }}/pages/library/{{ library.name | downcase | replace: ' ', '-' }}/">UI仓库</a>
              </li>


          {% assign pagepath = page.path | split:'/' %}
          {% assign pagenav = pagepath[1] | downcase | replace: ' ', '-'  %}
          {% for nav in site.data.sidebar %}
            {% if nav.title %}
            {% assign group =  nav.group | first %}
              {% assign sub =  group.sub | first %}
              <li class="nav-item">
                <a class="nav-item nav-link {% if pagenav == nav.name  | downcase | replace: ' ', '-'  %}active{% endif %}"
                   href="{{ site.baseurl }}/pages/{{ nav.name | downcase | replace: ' ', '-'}}/{{ group.name | downcase | replace: ' ', '-'}}/{{ sub.name  | downcase | replace: ' ', '-'  }}.html">{{ nav.title }}</a>
              </li>
            {% endif %}
          {% endfor %}
          <li class="nav-item">
            <a class="nav-item nav-link {% if page.layout == 'factory' %}active{% endif %}"
               href="{{ site.baseurl }}/pages/tools/cover.html">工具</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
