<form class="bd-search hidden-sm-down">
  <input type="text" class="form-control" id="search-input" placeholder="搜索..." autocomplete="off">
  <div class="dropdown-menu bd-search-results" id="search-results"></div>
</form>

<nav class="bd-links" id="docsNavbarContent">
  {% for nav in site.data.sidebar %}
    <div class="bd-toc-item {% if page.title ==  nav.title %}active{% endif %}">
      <a class="bd-toc-link"
         href="{{ site.baseurl }}/pages/addon/{{ nav.title  | downcase }}/">{{ nav.title }}</a>
    </div>
  {% endfor %}
</nav>