<!-- toolbar -->
<div id="toolbar" class="btn-group-vertical">
  <button type="button" id="toTop" class="btn iconfont-extend icon-top" data-toggle="tooltip" data-placement="left"
          title="回到顶部">
  </button>
  {% if page.layout == "sidebar" %}
  <button type="button" id="toReact" class="btn iconfont-extend icon-brand" data-toggle="tooltip" data-placement="left"
          title="转React">
  </button>
  {% endif %}
  {% if page.layout == "library-page" %}
    <button type="button" id="toPic" class="btn iconfont-extend icon-focus" data-toggle="tooltip" data-placement="left"
            title="显示全部区域">
    </button>
  {% endif %}
</div>

<!-- js -->




<script>
  $(function () {
    var ifReact = 0;
    $('[data-toggle="tooltip"]').tooltip();
    $('#toTop').click(function () {
      $("html,body").animate({scrollTop: 0}, 500);
    });
    $('#toReact').click(function () {
      if (ifReact == 0) {
        $(".na:contains('class=')").html('className=');
        ifReact = 1;
      }else {
        $(".na:contains('className=')").html('class=');
        ifReact = 0;
      }
    });
    var ifPic = 0;
    $('#toPic').click(function () {
      if (ifPic == 0) {
        $(".art-layer").css('background','rgba(123,197,59,.02)');
        $(".art-layer").css('box-shadow','0 0 0 1px rgba(123,197,59,.5)');
        ifPic = 1;
      }else {
        $(".art-layer").css('background','rgba(0,0,0,0)');
        $(".art-layer").css('box-shadow','0 0 0 1px rgba(123,197,59,0)');
        ifPic = 0;
      }
    });
  })
</script>