// scss-lint:disable IdSelector

#skippy {
  display: block;
  padding: 1em;
  color: #fff;
  background-color: $c-theme;
  outline: 0;

  .skiplink-text {
    padding: .5em;
    outline: 1px dotted;
  }
}
