.w-group-title {
  margin: 1rem 0;
}

.w-group {
  width: 100%;
  display: flex;
  flex-direction: column;

  .w-card {
    display: flex;
    position: relative;
    overflow: hidden;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    background: #FFF;
    border: 1px solid #EEE;
  }

  .w-avatar {
    flex: none;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    margin-right: 1rem;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, .1);
    > img {
      width: 100%;
      height: 100%;
    }
  }

  .w-box {
    box-sizing: content-box;
    flex: 1;
  }

  .w-title {
    font-weight: bolder;
    color: $c-font-dark;
  }

  .w-time {
    color: $c-font-lightest;
    font-size: .8rem;
    span {
      border: 1px solid #EEE;
      margin-right: .4rem;
      border-radius: 2px;
      padding: .05rem .3rem;
    }
  }

  .w-message {
    display: block;
    margin-top: .5rem;
    color: $c-font-normal !important;
  }

  .w-author {
    color: $c-font-light;
    font-size: .8rem;
    span {
      color: $c-blue;
    }
  }

  .auto-build {
    font-size: .8rem;
    border-radius: 2px;
    padding: .05rem .3rem;
    background: $c-green;
    color: #FFF;
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
}

#server {
  .w-avatar {
    border-radius: 0 !important;
    border: 0;
  }

}

.p-card {
  padding-top: 1rem;
  margin-top: 1rem;
  border-top: 1px dotted #EEE;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -4rem;
  .p-oneline {
    width: 100%;
    font-weight: bold;
    span {
      color: $c-theme;
      display: inline-block;
      margin: 0 .5rem
    }
  }
  .p-box {
    display: flex;
    margin-top: 1rem;
    width: 50%;
  }
  .p-content {
    flex: 1;
    position: relative;
    margin-left: 1rem;
  }
  .p-avata {
    width: 32px;
    height: 32px;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
    img {
      width: 256px !important;
      height: auto;
      position: absolute;
      margin-top: -32px;
      margin-left: -32px;
      image-rendering: auto;
      image-rendering: crisp-edges;
      image-rendering: pixelated; //像素不模糊
    }
  }

  .p-name {
    color: $c-font-dark;
    font-weight: bold;
    line-height: 1;
    span {
      color: $c-font-lightest;
      font-weight: normal;
      font-size: .8rem;
      display: block;
      margin-top: .3rem;
    }
  }
}

.show-btn {
  position: absolute;
  right: 1rem;
  margin-top: -3.5rem;
  color: $c-font-light;
  cursor: pointer;
  &:hover {
    color: $c-theme;
  }
}