//组件展示框
.bd-example {
  padding: 1rem 0;
  background: #F8F8F8;
  border-top: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
  @media (min-width: 544px) {
    max-width: 375px;
    margin-bottom: 1.5rem;
    border: 1px solid #EEE;
  }
}

// flex

.bd-example-flex {

  .xm-row {
    > [class^="xm-col"] {
      border: 1px solid rgba(0, 0, 0, .15);
      padding-left: 0;
      padding-right: 0;
      text-align: center;
      min-height: 3rem;
      line-height: 3rem;
      background-color: rgba(0, 0, 0, .1);
    }
  }

  .flex-items-xs-top,
  .flex-items-xs-middle,
  .flex-items-xs-bottom {
    min-height: 6rem;
    background-color: #FFF;
  }
}

.vertically-align .xm-row {
  min-height: 6rem;
}

//panel

.bd-example-panel {
  .xm-panel-body {
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #C2C2C2;
  }
}

.bd-example-display {
  > .bd-example {
    > .xm-panel {
      padding-top: 1rem;
      padding-bottom: 1rem;
      > .xm-btn:first-child {
        margin-top: 0;
      }
      > .xm-progress-circle {
        margin: 0 auto;
      }
    }
  }
}

.bd-example-input {
  > .bd-example {
    padding: 2rem 1rem;
    background: #FFF;
  }
}

//fullscreen
.bd-example-fullscreen {
  > .bd-example {
    padding: 0;
    height: 200px;
    overflow: hidden;
  }
  .xm-tabbar, .xm-navbar, .xm-footbar, .xm-btnbar {
    position: absolute !important;
  }
}

.navbar-style {
  > .bd-example {
    background-image: linear-gradient(45deg, #FF6700 0%, #FF8400 100%);
  }
}

//js
.bd-example-js {
  > .bd-example {
    display: none;
  }
  pre {
    margin-left: -2rem;
  }
  code {
    span:nth-child(1) {
      display: none;
    }
    span:nth-child(2) {
      display: none;
    }
    span:nth-child(3) {
      display: none;
    }
    span:nth-last-child(1) {
      display: none;
    }
    span:nth-last-child(2) {
      display: none;
    }
  }
}

//tips

.bd-example-tips {
  > .bd-example {
    padding: 0;
    background: transparent;
    border: 0;
  }
  @mixin example-root {
    position: relative;
    transform: translate(0, 0);
    z-index: 1;
    top: 0;
    left: 0;
  }
  .xm-actionsheet {
    @include example-root;
    border: 1px solid #EEE;
  }
  .xm-toast {
    @include example-root;
    width: 7.6rem;
  }
  .xm-dialog {
    @include example-root;
    border: 1px solid #E3E3E3;
  }
  @media (max-width: 544px) {
    > .bd-example {
      padding: 1rem;
    }
  }
}

//list

.icon-lists, .color-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0 !important;
  > li {
    margin-right: .5rem !important;
    margin-bottom: .5rem !important;
    padding: 0;
    list-style: none;
    position: relative;
    text-align: center;
    * {
      -webkit-transition: 0.1s ease-out 0s;
      -moz-transition: 0.1s ease-out 0s;
      transition: 0.1s ease-out 0s;
    }
    > .name, > .code, > .fontclass, > .color {
      font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
      font-size: .75rem;
      width: 100%;
      line-height: 1rem;
      padding: 0 .25rem;
      color: #C2C2C2;

    }
  }

}

.color-list > li {
  flex: 0 0 30%;
  > .color-swatch {
    height: 100px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, .1);
  }

  > .name {
    padding: .5rem 0;
  }
  &:hover {
    &:hover {
      > .name, > .color {
        background: #272822;
      }
      > .name {
        color: #FF9900;
      }
      > .color {
        color: #B37FFF;
        padding-bottom: .5rem;
      }
    }
  }

}

.icon-lists > li {
  background: #FFF;
  flex: 0 0 18%;
  &:hover {
    > i {
      color: #FF6700;
      font-size: 2.4rem
    }
    > .name, > .code, > .fontclass {
      background: #272822;
    }
    > .code {
      color: #EAE06E;
    }
    > .fontclass {
      color: #A6E603;
    }
  }
  > i {
    display: block;
    font-size: 2rem;
    color: #737383;
    line-height: 5rem;
    width: 100%;
    border: 1px solid #EEE;
    &:before {
      font-size: inherit;
      color: inherit;
    }
  }
  > .name {
    display: none;
  }
  > .code {
    padding-top: .5rem;
  }
  > .fontclass {
    padding-bottom: .5rem;
  }

}

.xm-panel[role='dark'] {
  background: #272822 !important;
}
