$path : "//canisminor.cc/img/dynmap/";

@import "leaflet";
@import "standalone";
@import "dynmap_style";

.map{
  background-color : #666 !important;
}

.leaflet-layer img {
  background-color : #333 !important;
}

.compass, .dynmap-link {
  display : none !important;
}