$path: "//canisminor.cc/img/dynmap/";

@import "leaflet";
@import "standalone";
@import "dynmap_style";

.leaflet-layer img {
  background-color: #333 !important;
}

.compass {
  display: none !important;
}