---
layout: default
---
<link href="{{ site.baseurl }}/css/minecraft/addon.css" rel="stylesheet">
<div class="bd-pageheader text-xs-center text-sm-left">
  <div class="container">
    <h1>{{ page.title }}</h1>
    <p class="lead">
      {{ page.desc }}
    </p>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-3 push-md-9 bd-sidebar">
      <nav class="bd-links" id="simpleNavbarContent"></nav>
    </div>
    <div class="col-xs-12 col-md-9 pull-md-3 bd-content">
      {{ content }}
    </div>
  </div>
</div>

