---
layout: default
---

<div class="bd-pageheader bd-masthead" id="content">
  <div class="container">
    <span class="bd-booticon outline"></span>
    <p class="lead">Canisminor Craft</p>
    <div class="row home-download hidden-sm-down">
      <a href="https://pan.baidu.com/s/1skKHstB" role="button" class="btn btn-outline-white btn-lg">下载SVN版 · WIN</a>
      <a href="https://coding.net/u/canisminor1990/p/cmc-client/git" role="button" class="btn btn-outline-white btn-lg">克隆GIT版 · MAC</a>
    </div>
    <p class="version hidden-sm-down">当前版本 {{ site.version }}</p>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-3 push-md-9 bd-sidebar">

      <nav class="bd-links" id="simpleNavbarContent"></nav>

    </div>
    <div class="col-xs-12 col-md-9 pull-md-3 bd-content">
      {{ content }}
    </div>
  </div>
</div>

<script>
  $('#section').hide();
  $('#simpleNavbarContent').html($('#markdown-toc').html());
  $('#markdown-toc').hide();
</script>

<script src="{{ site.baseurl }}/js/server.js"></script>
<link href="//hook.canisminor.cc/css/webhook.css" rel="stylesheet">
<script src="//hook.canisminor.cc/js/main.js"></script>