<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{{ site.baseurl }}/css/other/ui-library-2.css" rel="stylesheet">
  <script src="//cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
  <script src="{{ site.baseurl }}/js/url.js"></script>
  <script>
    var openId = getParamValue("openId");
    openId = "{{ site.baseurl }}/pages/library/" + openId;
    //动态加载
    var head = document.getElementsByTagName('head')[0];
    var script = document.createElement('script');
    script.type = 'text/javascript';
    script.onload = script.onreadystatechange = function () {
      if (!this.readyState || this.readyState === "loaded" || this.readyState === "complete") {
        //动态加载完js后执行
        $(function () {
          SMApp(sketchData)
        });

        script.onload = script.onreadystatechange = null;
      }
    };
    script.src = openId + "data.json";
    head.appendChild(script);
  </script>
  <script src="{{ site.baseurl }}/js/ui-library-2.js"></script>
  <script>$("img").attr("src",openId + $("img").attr("src"));</script>
</head>
<body id="app"></body>
</html>
