---
layout: default
---
<script src="{{ site.baseurl }}/js/url.js"></script>
<script>
  var openId = getParamValue("openId");
</script>
<iframe id="uiView" width="100%" frameborder="no"></iframe>
<style>
  #content{
    background:#232527;
  }
  .bd-footer{
    display: none;
    margin-top: 0;
    border-top:0;
  }
  #toolbar{
    display: none;
  }
</style>
<script>
  var height = document.documentElement.clientHeight - 92;
  $("#uiView").height(height);
  $("#uiView").attr("src","./data.html?openId="+openId);
</script>