---
layout: default
---
{% assign pagepath = page.path | split:'/' %}
{% assign pagenav = pagepath[1] | downcase | replace: ' ', '-' %}
{% assign pagegroup = pagepath[2] | downcase | replace: ' ', '-' %}
{% assign pagename_raw = pagepath[3] | replace_first:'.md', '' %}
{% assign pagename = pagename_raw | downcase | replace: ' ', '-' %}

<div class="bd-pageheader text-xs-center text-sm-left">
  <div class="container">
    {% for nav in site.data.sidebar %}
      {% if nav.name == pagenav %}
        {% for group in nav.group %}
          {% if group.name == pagegroup %}
            <h1>{{ group.title }}</h1>
            <p class="lead">
              {{ group.desc }}
            </p>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-3 push-md-9 bd-sidebar">
      {% include sidebar.html %}
    </div>
    <div class="col-xs-12 col-md-9 pull-md-3 bd-content">
      <h1 class="bd-title" id="content">{{ page.title }}</h1>
      {{ content }}
    </div>
  </div>
</div>

{% include search.html json="xmui" %}