// col
$columns:12;
.xm-col {
  position: relative;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  min-height: 1px;
  padding-right: 1rem;
  padding-left:  1rem;
}


@for $i from 1 through 12 {
  .xm-col-#{$i} {
    position: relative;
    max-width: 100%;
    min-height: 1px;
    @include make-col($i, $columns, 2rem);
    padding-right: 1rem;
    padding-left:  1rem;
  }
}

@for $i from 1 through 12 {

    .offset-#{$i} {
      margin-left: percentage($i / $columns);
    }

}