//
//xm-panel
//
.xm-panel {
  background-color: #FFFFFF;
  position: relative;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  padding-left:  1rem;
  padding-right: 1rem;
  + .xm-panel {
    margin-top: 1rem;
  }
  @include set-line(top);
  @include set-line(bottom,$class:after);
}